/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2014, 10:34:58 AM
    Author     : Student
*/
/* this is all indexx */
.bcolor{
    background-image: url('coolsun.jpg'); background-repeat: no-repeat ,center, center, fixed;
    background-size: 100%;
    
}
#noah{
    
    color: rgba(251, 17, 0, 0.8);
    margin: 100px 300px 0px 300px;
    height: 55px;
    font-size: 55px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#mostacero{
    color: rgba(251, 17, 0, 0.8);
    margin: 0px 300px 0px 300px;
    height: 55px;
    font-size: 55px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.bigdivbox{
    height: 500px;
}
.line{
    background-color: black;
    height: 3px;
    margin: 10px 400px 0px 400px;
}
#button1{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 0px 0px 570px;
  display: inline;
}
#button2{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 570px 0px 0px;
  display: inline;
}
#adriansquote{
    color: rgba(251, 17, 0, 0.8);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
/* index ends */
/* aboutme starts */
.blackdiv{
    background-color: rgba(0, 0, 0, 0.6);
    height: 450px;
    margin: 100px;
}
#aboutme{
    font-size: 45px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#line2{
    background-color: white;
    height: 3px;
    margin: 0px 400px 0px 400px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#bcolor2{
    background-image: url('music.jpg'); background-repeat: no-repeat ,center, center, fixed;
    background-size: 100%;
}
#fontcolor{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#button1a{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 0px 0px 470px;
  display: inline;
}
#button2b{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 570px 0px 0px;
  display: inline;
}
/* aboutme ends */
/* hobbies start */
#hobbiesfont{
    font-size: 45px;
    color: white;
}
#bcolor3{
    background-image: url('ashe.jpg');
    background-repeat: no-repeat ,center, center, fixed;
    background-size: 100%;
}
#line3{
    background-color: black;
    height: 3px;
    margin: 10px 300px 0px 300px;
}
#fontcolor3{
    color: white;
}
#button1c{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 0px 0px 390px;
  display: inline;
}
#button1d{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 390px 0px 0px;
  display: inline;
}

/* hobbies end */
