/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2014, 10:34:58 AM
    Author     : Student
*/
.bcolor{
    background-image: url('coolsun.jpg'); background-repeat: no-repeat ,center, center, fixed;
    background-size: 100%;
    
}
#noah{
    color: black;
    margin: 100px 300px 0px 300px;
    height: 55px;
    font-size: 55px;
}
#mostacero{
    color: black;
    margin: 0px 300px 0px 300px;
    height: 55px;
    font-size: 55px;
}
#bigdivbox{
    height: 500px;
}
#line{
    background-color: black;
    height: 3px;
    margin: 10px 400px 0px 400px;
}
.button1{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 0px 0px 570px;
  display: inline;
}
.button2{
  display: block;
  width: 115px;
  height: 25px;
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 0px 570px 0px 0px;
  display: inline;
}
#linkdiv{
 
}