/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2014, 10:34:58 AM
    Author     : Student
*/
.bcolor{
    background-image: url('images/b1.jpg');
}
#noah{
    color: white;
    margin: 100px 300px 0px 300px;
    height: 55px;
    font-size: 55px;
}
#mostacero{
    color: white;
    margin: 0px 300px 0px 300px;
    height: 55px;
    font-size: 55px;
}
#bigdivbox{
    background-color: rgba(0,0,0,.8);
    color: green;
    height: 500px;
}
#line{
    background-color: white;
    height: 3px;
    margin: 10px 400px 0px 400px;
}